$white: #ffffff;
$black: #000222;
$primary-color: #ff234a;
$secondary-color: #4FB4E8;
$third-color: #C195D3;
$fourth-color: #df5d90;

$dark-grey: #505267;
$medium-grey: #585d63;
$medium-light-grey: #666666;
$light-grey: #CCCCCC;

$link-transparency-off: .65;
$link-transparency-hover: 1;
