@import './breakpoints.scss';
@import './colors.scss';

$font-family-headline: "museo-sans",sans-serif;
$font-family-body: "museo-slab",serif;
$font-family-special: "brandon-grotesque", sans-serif;

body{
	font-family: $font-family-body;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	color: $black;

	@include xs {
		font-size: 16px;
		line-height: 24px;

	}
}

.reverse-text{
	color: $white;
}

h1,h2,h3{
	font-family: $font-family-headline;
	letter-spacing: 1.5px;
}

h4,h5,h6{
	font-family: $font-family-body;
	letter-spacing: 1px;
}

h1{
	font-size: 58px;
}

h2{
	font-size: 42px;
	font-weight: 900;
	//text-transform: uppercase;
	letter-spacing: 0px;
	line-height: 48px;

	@include md {
		font-size: 38px;
		line-height: 44px;
	}

	@include xs {
		font-size: 28px;
		line-height: 36px;
	}
}

h3{
	@include xs {
		font-size: 21px;
	}
}

h4{
	font-weight: 100;
	font-size: 24px;

	@include xs {
		font-size: 21px;
	}
}

h5{

}

h6{

}

a{

	&:hover{
		text-decoration: none;
	}
}

header{
	a{
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 1.2;
	}
}

.button{
	font-weight: 500;
	letter-spacing: 1.2px;
	font-family: $font-family-headline;
}
