@import 'app/styles/colors.scss';
@import 'app/styles/transition.scss';
@import 'app/styles/mixins.scss';
@import 'app/styles/breakpoints.scss';

.mobile-detail-header{
	position: relative;
	overflow: hidden;

	transition: height $transition-speed $transition-ease;

	.mask{
		background: url(/images/marquee.svg);
		background-repeat: no-repeat;
		background-position: center 100%;
		background-size: cover;
		width:100%;
		position: absolute;
		z-index: 2;
		top: 2px;
		left: 0;

		transition: height $transition-speed $transition-ease;

		.svg{
			display: none;
		}
	}

	.description{
		position: absolute;
		margin: auto;
		text-align: center;
		// bottom: 75px;
		//width: 50%;
		z-index: 5;
		top: 0;
		width: 100%;
		left:0;

		transition: height $transition-speed $transition-ease;



		& > div {
			width: 50%;
			margin-bottom: 75px;

			@include md(){
				margin-bottom: 100px;
				width: 65%;
			}

			@include xs(){
				//margin-bottom: 30px;
			}
		}

		.titleart{
			height: 70px;
			background-repeat: no-repeat;
			background-position: center center;

			@include sm(){
				height: 40px;
			}
		}

		h3{
			color: $white;
			text-transform: uppercase;
			letter-spacing: 5px;
			margin-top: 10px;
		}

		p{
			color: $light-grey;
			margin-top: 20px;

			@include sm(){
				display: none;
			}
		}
	}

	h6{
		margin-top: 20px;
		color: $white;
		text-align: center;

		@include sm(){
			display: none;
		}
	}

	.icon{
		text-align: center;
		a{
			font-size: 40px;
			margin-top: 5px;
			color: $white;
			display: inline-block;
			cursor: pointer;

			transition: color $transition-speed;

			&:hover{
				color: $primary-color;
			}
		}

		@include sm(){
			display: none;
		}
	}

	.gradient{
		position: absolute;
		width: 100%;
		z-index: 1;
		top: 0;
		left:0;

		transition: height $transition-speed $transition-ease;

		@include linear-gradient(to bottom, rgba($black,0) 25%, rgba($black,.9) 100% );
	}
}
