body {
  font-family: "museo-slab", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #000222; }
  @media (max-width: 500px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

.reverse-text {
  color: #ffffff; }

h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  letter-spacing: 1.5px; }

h4, h5, h6 {
  font-family: "museo-slab", serif;
  letter-spacing: 1px; }

h1 {
  font-size: 58px; }

h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 40px; }
  @media (max-width: 1025px) {
    h2 {
      font-size: 38px;
      line-height: 44px; } }
  @media (max-width: 500px) {
    h2 {
      font-size: 28px;
      line-height: 36px; } }

h3 {
  font-size: 24px; }
  @media (max-width: 500px) {
    h3 {
      font-size: 21px; } }

h4 {
  font-weight: 100;
  font-size: 24px; }
  @media (max-width: 500px) {
    h4 {
      font-size: 21px; } }

a:hover {
  text-decoration: none; }

header a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2; }

.button {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-family: "museo-sans", sans-serif; }

.mobile-detail-header {
  position: relative;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
  .mobile-detail-header .mask {
    background: url(/images/marquee_gradient.svg);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 0;
    transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
    .mobile-detail-header .mask .svg {
      display: none; }
  .mobile-detail-header .description {
    position: absolute;
    margin: auto;
    text-align: center;
    z-index: 5;
    top: 0;
    width: 100%;
    left: 0;
    transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
    .mobile-detail-header .description > div {
      width: 50%;
      margin-bottom: 10vh; }
      @media (max-width: 1025px) {
        .mobile-detail-header .description > div {
          margin-bottom: 15vh;
          width: 65%; } }
      @media (max-width: 769px) {
        .mobile-detail-header .description > div {
          margin-bottom: 20vh; } }
    .mobile-detail-header .description .titleart {
      height: 70px;
      background-repeat: no-repeat;
      background-position: center center; }
      @media (max-width: 769px) {
        .mobile-detail-header .description .titleart {
          height: 40px; } }
    .mobile-detail-header .description h3 {
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-top: 10px;
      font-family: "museo-slab", serif;
      font-size: 30px; }
      @media (max-width: 769px) {
        .mobile-detail-header .description h3 {
          font-size: 22px;
          line-height: 26px; } }
    .mobile-detail-header .description p {
      color: #CCCCCC;
      margin-top: 15px; }
      @media (max-width: 769px) {
        .mobile-detail-header .description p {
          display: none; } }
  .mobile-detail-header h6 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center; }
    @media (max-width: 769px) {
      .mobile-detail-header h6 {
        display: none; } }
  .mobile-detail-header .icon {
    text-align: center; }
    .mobile-detail-header .icon a {
      font-size: 40px;
      margin-top: 5px;
      color: #ffffff;
      display: inline-block;
      cursor: pointer;
      transition: color 0.4s; }
      .mobile-detail-header .icon a:hover {
        color: #ff234a; }
    @media (max-width: 769px) {
      .mobile-detail-header .icon {
        display: none; } }
  .mobile-detail-header .gradient {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    background: rgba(0, 2, 34, 0);
    background: -webkit-linear-gradient(top, rgba(0, 2, 34, 0) 25%, rgba(0, 2, 34, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 2, 34, 0) 25%, rgba(0, 2, 34, 0.9) 100%); }
