.mobile-detail-header {
  position: relative;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
  .mobile-detail-header .mask {
    background: url(/images/marquee.svg);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 0;
    transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
    .mobile-detail-header .mask .svg {
      display: none; }
  .mobile-detail-header .description {
    position: absolute;
    margin: auto;
    text-align: center;
    z-index: 5;
    top: 0;
    width: 100%;
    left: 0;
    transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
    .mobile-detail-header .description > div {
      width: 50%;
      margin-bottom: 75px; }
      @media (max-width: 1025px) {
        .mobile-detail-header .description > div {
          margin-bottom: 100px;
          width: 65%; } }
    .mobile-detail-header .description .titleart {
      height: 70px;
      background-repeat: no-repeat;
      background-position: center center; }
      @media (max-width: 769px) {
        .mobile-detail-header .description .titleart {
          height: 40px; } }
    .mobile-detail-header .description h3 {
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-top: 10px; }
    .mobile-detail-header .description p {
      color: #CCCCCC;
      margin-top: 20px; }
      @media (max-width: 769px) {
        .mobile-detail-header .description p {
          display: none; } }
  .mobile-detail-header h6 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center; }
    @media (max-width: 769px) {
      .mobile-detail-header h6 {
        display: none; } }
  .mobile-detail-header .icon {
    text-align: center; }
    .mobile-detail-header .icon a {
      font-size: 40px;
      margin-top: 5px;
      color: #ffffff;
      display: inline-block;
      cursor: pointer;
      transition: color 0.4s; }
      .mobile-detail-header .icon a:hover {
        color: #ff234a; }
    @media (max-width: 769px) {
      .mobile-detail-header .icon {
        display: none; } }
  .mobile-detail-header .gradient {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    background: rgba(0, 2, 34, 0);
    background: -webkit-linear-gradient(top, rgba(0, 2, 34, 0) 25%, rgba(0, 2, 34, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 2, 34, 0) 25%, rgba(0, 2, 34, 0.9) 100%); }
