@import 'app/styles/colors.scss';
@import 'app/styles/transition.scss';
@import 'app/styles/zindex.scss';

$header-logo-width: 70px;

.header{
	z-index: $z-header;

	.logo {
		cursor: pointer;
		width: $header-logo-width;
	}
}
