body {
  font-family: "museo-slab", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #000222; }
  @media (max-width: 500px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

.reverse-text {
  color: #ffffff; }

h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  letter-spacing: 1.5px; }

h4, h5, h6 {
  font-family: "museo-slab", serif;
  letter-spacing: 1px; }

h1 {
  font-size: 58px; }

h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 40px; }
  @media (max-width: 1025px) {
    h2 {
      font-size: 38px;
      line-height: 44px; } }
  @media (max-width: 500px) {
    h2 {
      font-size: 28px;
      line-height: 36px; } }

h3 {
  font-size: 24px; }
  @media (max-width: 500px) {
    h3 {
      font-size: 21px; } }

h4 {
  font-weight: 100;
  font-size: 24px; }
  @media (max-width: 500px) {
    h4 {
      font-size: 21px; } }

a:hover {
  text-decoration: none; }

header a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2; }

.button {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-family: "museo-sans", sans-serif; }

.other .gradient {
  height: 4px;
  background: #ff234a;
  background: -webkit-linear-gradient(left, #ff234a 0%, #C195D3 50%, #4FB4E8 100%);
  background: linear-gradient(to right, #ff234a 0%, #C195D3 50%, #4FB4E8 100%); }

.other .direction {
  flex-direction: row; }
  @media (max-width: 900px) {
    .other .direction {
      flex-direction: column; } }

.other .item {
  background: #000222;
  height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center center;
  border-right: 1px solid #000222;
  position: relative;
  width: 33.3%;
  transition: all 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
  @media (max-width: 900px) {
    .other .item {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #000222;
      transition: none; } }
  .other .item:last-child {
    border-right: 0px solid; }
  .other .item .overlay {
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0;
    z-index: 0;
    background: rgba(0, 2, 34, 0.55);
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity 0.4s; }
  .other .item .copy {
    position: relative;
    height: 350px;
    width: 90%;
    margin: auto; }
    .other .item .copy .titleart {
      width: 300px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
    .other .item .copy h3 {
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-top: 10px;
      font-size: 22px;
      font-family: "museo-slab", serif; }
    .other .item .copy .hover {
      margin-top: 20px;
      max-height: 0px;
      overflow: hidden;
      opacity: 0.01;
      filter: alpha(opacity=1);
      transition: all 0.8s; }
      @media (max-width: 1025px) {
        .other .item .copy .hover {
          max-height: 300px;
          opacity: 1;
          filter: alpha(opacity=100); } }
  .other .item:hover {
    flex-grow: 1.5;
    width: 45%; }
    @media (max-width: 1025px) {
      .other .item:hover {
        width: 100%; } }
    .other .item:hover .overlay {
      opacity: 0.75;
      filter: alpha(opacity=75); }
    .other .item:hover .hover {
      max-height: 300px;
      opacity: 1;
      filter: alpha(opacity=100); }
