@import 'app/styles/colors.scss';
@import 'app/styles/zindex.scss';
@import 'app/styles/transition.scss';


.project{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0vh;
	z-index: $z-contact;
	transform-origin: center center;
	background: $white;

	&>div{
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0vh;
	}
}
