.mobile-contact {
  padding: 50px 0;
  background: #ff234a;
  background: #ff234a;
  background: -webkit-linear-gradient(-45deg, #ff234a 0%, #e79bb8 100%);
  background: linear-gradient(135deg, #ff234a 0%, #e79bb8 100%); }
  .mobile-contact .info {
    color: #ffffff; }
