@import 'app/styles/colors.scss';
@import 'app/styles/type.scss';
@import 'app/styles/transition.scss';

.home{
	.headline{
		width: 100vw;
		height: 100vh;
		z-index: 500;
		position: absolute;
		overflow: hidden;

		h1{
			text-align: center;
			color: $white;
			text-transform: uppercase;
			margin: 20px 0 0 0;
			font-family: $font-family-special;
			letter-spacing: -5px;

			svg{
				fill: $white;
				overflow: visible;
				filter: drop-shadow(0 0 10px rgba($black,.4));

				path{
					transform-origin: center center;
				}
			}
		}

		h3{
			color: $white;
			margin: 0;
			text-align: center;
			font-size: 28px;
			font-weight: 100;
			text-shadow: 0 0 10px rgba($black,.4);

			span{
				transform-origin: center center;
				display: inline-block;
			}
		}
	}

	.copy{
		width: 100vw;
		height: 100vh;
		z-index: 550;
		position: absolute;
		overflow: hidden;

		.content{
			text-align: center;
			margin-bottom: 50px;

			p{
				color: $light-grey;
			}
		}
	}
}
