body {
  font-family: "museo-slab", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #000222; }
  @media (max-width: 500px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

.reverse-text {
  color: #ffffff; }

h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  letter-spacing: 1.5px; }

h4, h5, h6 {
  font-family: "museo-slab", serif;
  letter-spacing: 1px; }

h1 {
  font-size: 58px; }

h2 {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 48px; }
  @media (max-width: 1025px) {
    h2 {
      font-size: 38px;
      line-height: 44px; } }
  @media (max-width: 500px) {
    h2 {
      font-size: 28px;
      line-height: 36px; } }

@media (max-width: 500px) {
  h3 {
    font-size: 21px; } }

h4 {
  font-weight: 100;
  font-size: 24px; }
  @media (max-width: 500px) {
    h4 {
      font-size: 21px; } }

a:hover {
  text-decoration: none; }

header a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2; }

.button {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-family: "museo-sans", sans-serif; }

.home .headline {
  width: 100vw;
  height: 100vh;
  z-index: 500;
  position: absolute;
  overflow: hidden; }
  .home .headline h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    font-family: "brandon-grotesque", sans-serif;
    letter-spacing: -5px; }
    .home .headline h1 svg {
      fill: #ffffff;
      overflow: visible;
      filter: drop-shadow(0 0 10px rgba(0, 2, 34, 0.4)); }
      .home .headline h1 svg path {
        transform-origin: center center; }
  .home .headline h3 {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    text-shadow: 0 0 10px rgba(0, 2, 34, 0.4); }
    .home .headline h3 span {
      transform-origin: center center;
      display: inline-block; }

.home .copy {
  width: 100vw;
  height: 100vh;
  z-index: 550;
  position: absolute;
  overflow: hidden; }
  .home .copy .content {
    text-align: center;
    margin-bottom: 50px; }
    .home .copy .content p {
      color: #CCCCCC; }
