@import 'app/styles/colors.scss';
@import 'app/styles/transition.scss';
@import 'app/styles/type.scss';
@import 'app/styles/breakpoints.scss';
@import 'app/styles/mixins.scss';

$project-layout-size: 1200px;

.projects{
	width: 100%;
	height: 100%;
	position: absolute;

	.cf{
		padding-left: 125px;
		padding-right: 200px;
		overflow: hidden;
		width: 100%;
		height: 100%;
		position: absolute;

		@include lg(){
			padding-left: 125px;
			padding-right: 125px;
		}
	}
	.wrapper{
		margin:auto;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;


		&.odd{
			justify-content: flex-end;
		}

		&.even{
			justify-content: flex-start;
		}

		@include td(){
			align-items: flex-end;
			justify-content: center !important;
		}

		.view{
			width: 40%;

			@include td(){
				width: 90%;
				padding-bottom: 30px;
			}

			.copy{
				text-align: center;
				visibility: hidden;

				h2{
					color: $white;
					@include opacity(.01);


					.titleart{
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center center;
						width: 100%;
						height: 50px;
						display: inline-block;
					}
				}

				h3{
					padding-top: 5px;
					color: $white;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 36px;
					line-height: 40px;
					letter-spacing: 5px;
					font-family: $font-family-body;

					@include opacity(.01);

				}

				p{
					color: $light-grey;
					text-align: center;

					@include opacity(.01);

				}

				.button{
					@include opacity(.01);

				}

				&.visible{
					visibility: visible;

					h2{
						@include opacity(1);
						transition: opacity $transition-speed $transition-ease 0s;
					}

					h3{
						@include opacity(1);
						transition: opacity $transition-speed $transition-ease .15s;
					}

					p{
						@include opacity(1);
						transition: opacity $transition-speed $transition-ease .4s;
					}

					.button{
						@include opacity(1);
						transition: opacity $transition-speed $transition-ease .6s;
					}
				}
			}

		}
	}
}
