body {
  font-family: "museo-slab", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #000222; }
  @media (max-width: 500px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

.reverse-text {
  color: #ffffff; }

h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  letter-spacing: 1.5px; }

h4, h5, h6 {
  font-family: "museo-slab", serif;
  letter-spacing: 1px; }

h1 {
  font-size: 58px; }

h2 {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 48px; }
  @media (max-width: 1025px) {
    h2 {
      font-size: 38px;
      line-height: 44px; } }
  @media (max-width: 500px) {
    h2 {
      font-size: 28px;
      line-height: 36px; } }

@media (max-width: 500px) {
  h3 {
    font-size: 21px; } }

h4 {
  font-weight: 100;
  font-size: 24px; }
  @media (max-width: 500px) {
    h4 {
      font-size: 21px; } }

a:hover {
  text-decoration: none; }

header a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2; }

.button {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-family: "museo-sans", sans-serif; }

.projects .view {
  width: 50vw;
  height: 100vh;
  position: absolute; }
  .projects .view .line {
    flex: 0 0 auto;
    background: #ffffff;
    height: 2px;
    margin: 0 20px;
    display: inline-flex; }
  .projects .view .copy {
    flex: 1 0 0;
    visibility: hidden;
    text-align: center; }
    .projects .view .copy h2 {
      color: #ffffff;
      opacity: .01;
      transition: opacity 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }
      .projects .view .copy h2 .titleart {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 100%;
        height: 50px;
        display: inline-block; }
    .projects .view .copy h3 {
      padding-top: 5px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 5px;
      font-family: "museo-slab", serif;
      opacity: .01;
      transition: opacity 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }
    .projects .view .copy h6 {
      color: #4FB4E8;
      margin: 10px 0 10px 0;
      font-size: 22px;
      line-height: 26px;
      opacity: .01;
      transition: opacity 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s; }
    .projects .view .copy p {
      color: #CCCCCC;
      text-align: center;
      opacity: .01;
      transition: opacity 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s; }
    .projects .view .copy .button {
      opacity: .01;
      transition: opacity 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.6s; }
    .projects .view .copy.visible {
      visibility: visible; }
      .projects .view .copy.visible h2, .projects .view .copy.visible h3, .projects .view .copy.visible h6, .projects .view .copy.visible p, .projects .view .copy.visible .button {
        opacity: 1; }
  .projects .view.even {
    left: 48vw;
    text-align: left; }
    .projects .view.even .copy {
      padding-right: 100px; }
      .projects .view.even .copy h2 svg {
        float: left; }
  .projects .view.odd {
    left: 0;
    text-align: right; }
    .projects .view.odd .copy {
      padding-left: 100px; }
      .projects .view.odd .copy h2 svg {
        float: right; }
