@import 'app/styles/colors.scss';
@import 'app/styles/transition.scss';

@import '../Controls.scss';

$slider-handle-width: 50px;
$slider-handle-height: 50px;

.slider{
	position: relative;
	width: $slider-handle-width;

	.rail{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;

		&::after{
			content:'';
			display: block;
			height: 100%;
			width: 2px;
			opacity: .3;
			@include linear-gradient(to top, $control-color-1, $control-color-2);

			//background: $primary-color;
			// background-image: linear-gradient(rgba($white,.5) 10%, rgba(255,255,255,0) 0%);
			// background-position: right;
			// background-size: 1px 7px;
			// background-repeat: repeat-y;
			//

			transition: opacity $transition-speed $transition-ease;
		}
	}

	&.panel-open{
		.rail{
			&::after{
				opacity: .65;
			}
		}
	}

	.handle{
		width: $slider-handle-width;
		height: $slider-handle-height;
		position: absolute;
		top: 0;
		font-size: $slider-handle-width;
		color: $control-off-color;
		cursor: pointer;


		transition: all $transition-speed*2 $transition-ease;



		.ic{
			width: $slider-handle-width;
			height: $slider-handle-height;

			transform: scale(.85);
			transition: all $transition-speed $transition-ease;
		}

		.ib{
			// color: $control-off-color;
			// color: $white;
			background: linear-gradient(140deg, #aaa 0%,$white 40%, $white 60%, #aaa 100%);
			border-radius: 50%;
			border: 1px solid rgba($white,.3);
			color: transparent;
			box-shadow: 0 0 20px rgba($black,.35);


			transition: all $transition-speed $transition-ease;
		}

		.if{
			color: #2d345c;
		}

		&:hover{


			.ib{
				background: linear-gradient(140deg, $white 50%, #ccc 100%);
				box-shadow: 0 0 20px rgba($black,.65);
			}
		}

		&.react-draggable-dragging {
			transition: none;

			.ic{
				transform: scale(1);
			}
		}

		// &:before{
		// 	content: "";
		// 	position: absolute;
		// 	background: #2d345c;
		// 	width: $slider-handle-width/2;
		// 	height: $slider-handle-height/2;
		// 	left: $slider-handle-width/2;
		// 	top: $slider-handle-height/2;
		// 	border-radius: 50%;
		// 	transform: translateX(-50%) translateY(-50%);
		// }

		// .icon{
		// 	position: absolute;
		// 	z-index: 10;
		// 	display: block;
		// }

		// &>div, &>div>div {
		// 	width: $slider-handle-width;
		// 	height: $slider-handle-height;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// }

		// svg{
		// 	fill: rgba($white,$link-transparency-off);
		// 	width: $slider-handle-width;
		// 	height: $slider-handle-height;
		// 	cursor: hand;
        //
		// 	transition: fill $transition-speed $transition-ease;
		// }
        //
		// &:hover{
        //
		// 	svg{
		// 		fill: rgba($white,$link-transparency-hover);
		// 	}
		// }
	}

	&.loading{
		.handle{
			transition: none !important;
		}
	}
}
