@import 'app/styles/colors.scss';
@import 'app/styles/transition.scss';
@import 'app/styles/zindex.scss';

$header-logo-width: 70px;

.deskop-header{
	z-index: $z-header;
	position: absolute;
	height: 100px;
	top: 0;

	.logo {
		cursor: pointer;
		width: $header-logo-width;
	}
}
