.projects .view {
  width: 50%;
  height: 100vh;
  left: 50%;
  position: absolute; }
  .projects .view .line {
    background: #ffffff;
    height: 2px;
    margin-top: 30px; }
  .projects .view .copy {
    width: 500px;
    margin-left: 25px; }
    .projects .view .copy h2 {
      color: #ffffff; }
    .projects .view .copy h3 {
      color: #ffffff; }
    .projects .view .copy h6 {
      color: #ffffff; }
    .projects .view .copy p {
      color: #ffffff;
      text-align: justify; }
