@import 'app/styles/type.scss';
@import 'app/styles/colors.scss';
@import 'app/styles/mixins.scss';
@import 'app/styles/transition.scss';


.mobile-home-header{
	// @include radial-gradient(rgba($black,.75) 0%, rgba($black,0) 65%)
	position: relative;
	overflow: hidden;

	transition: height $transition-speed $transition-ease;

	.wrapper{
		position: absolute;
		top:0;
		left:0;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: height $transition-speed $transition-ease;
	}

	.description{
		text-align: center;
		width: 50%;

		@include lg(){
			width: 60%;
		}

		@include md(){
			width: 70%;
		}

		@include xs(){
			width: 80%;
		}

		.lwrapper{
			margin-bottom: 20px;

			@include sm(){
				margin-bottom: 0;
			}
		}

		.logo {
			width: 70px;
			height: 80px;
			margin: auto;

			&:hover{
				fill: $white !important;
			}

			@include sm(){
				height: 65px;
			}
		}

		h2{
			color: $white;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
		p{
			color: $light-grey;
			width: 100%;
		}

		h6{
			margin-top: 30px;
			color: $white;

				@include sm(){
					display: none;
				}
		}

		.icon{
			a{
				font-size: 40px;
				margin-top: 5px;
				color: $white;
				display: inline-block;
				cursor: pointer;

				transition: color $transition-speed;

				&:hover{
					color: $primary-color;
				}
			}
		}
	}


}
