body {
  font-family: "museo-slab", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #000222; }
  @media (max-width: 500px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

.reverse-text {
  color: #ffffff; }

h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  letter-spacing: 1.5px; }

h4, h5, h6 {
  font-family: "museo-slab", serif;
  letter-spacing: 1px; }

h1 {
  font-size: 58px; }

h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 40px; }
  @media (max-width: 1025px) {
    h2 {
      font-size: 38px;
      line-height: 44px; } }
  @media (max-width: 500px) {
    h2 {
      font-size: 28px;
      line-height: 36px; } }

h3 {
  font-size: 24px; }
  @media (max-width: 500px) {
    h3 {
      font-size: 21px; } }

h4 {
  font-weight: 100;
  font-size: 24px; }
  @media (max-width: 500px) {
    h4 {
      font-size: 21px; } }

a:hover {
  text-decoration: none; }

header a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2; }

.button {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-family: "museo-sans", sans-serif; }

.mobile-home-header {
  position: relative;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
  .mobile-home-header .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-radial-gradient(center, circle cover, rgba(0, 2, 34, 0.5), rgba(0, 2, 34, 0));
    background: radial-gradient(center, circle cover, rgba(0, 2, 34, 0.5), rgba(0, 2, 34, 0));
    transition: height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
  .mobile-home-header .description {
    text-align: center;
    width: 50%; }
    @media (max-width: 2000px) {
      .mobile-home-header .description {
        width: 60%; } }
    @media (max-width: 1025px) {
      .mobile-home-header .description {
        width: 70%; } }
    @media (max-width: 500px) {
      .mobile-home-header .description {
        width: 80%; } }
    .mobile-home-header .description .lwrapper {
      margin-bottom: 20px; }
      @media (max-width: 769px) {
        .mobile-home-header .description .lwrapper {
          margin-bottom: 0; } }
    .mobile-home-header .description .logo {
      width: 70px;
      height: 80px;
      margin: auto; }
      .mobile-home-header .description .logo:hover {
        fill: #ffffff !important; }
      @media (max-width: 769px) {
        .mobile-home-header .description .logo {
          height: 65px; } }
    .mobile-home-header .description h2 {
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-top: 20px; }
      @media (max-width: 769px) {
        .mobile-home-header .description h2 {
          font-size: 21px;
          line-height: 30px;
          letter-spacing: 1px; } }
    .mobile-home-header .description p {
      color: #CCCCCC;
      width: 100%; }
    .mobile-home-header .description h6 {
      margin-top: 30px;
      color: #ffffff; }
      @media (max-width: 769px) {
        .mobile-home-header .description h6 {
          display: none; } }
    .mobile-home-header .description .icon a {
      font-size: 40px;
      margin-top: 5px;
      color: #ffffff;
      display: inline-block;
      cursor: pointer;
      transition: color 0.4s; }
      .mobile-home-header .description .icon a:hover {
        color: #ff234a; }
