.detail {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  z-index: 500; }
  .detail > div {
    background: #ffffff;
    width: 100%;
    overflow-x: hidden;
    transform-origin: top center; }
