@import 'app/styles/colors.scss';
@import 'app/styles/zindex.scss';
@import 'app/styles/transition.scss';


.detail{
	width: 100%;
	overflow-x: hidden;
	position: absolute;
	z-index: $z-contact;
	// top: 0;
	// left: 0;
	// min-height: 100%;


	&>div{
		background: $white;
		width:100%;
		//min-height: 100vh;
		//position: absolute;
		//height:0;
		//overflow-x: hidden;

		transform-origin: top center;
	}
}
