@import 'app/styles/colors.scss';
@import 'app/styles/breakpoints.scss';
@import 'app/styles/mixins.scss';
@import 'app/styles/transition.scss';

$diagonal-size: 20%;

.mobile-details-copy{
	z-index: 0;
	position: relative;
	background: #142544;

	h4{
		color: $white;
	}

	p{
		font-size: 16px;
		color: $light-grey;
	}

	h6{
		color: $primary-color;
	}

	.floating{
		width: 100%;
		height: 100%;
		position: absolute;
		top:10vw;
		@include opacity(.01);
		transition: all $transition-speed $transition-ease;
		overflow: hidden;

		&>div{
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: 90%;
			width: 100%;
			height: 100%;
			transform-origin: top center;
			//background-attachment: fixed;




		}

		&.visible{
			@include opacity(.03);
		}

		&.sticky{
			// height: 100%;
			//
			&>div{
				background-attachment: fixed;
				background-position: 50% 10vw;
			}
		}
	}


}
