@import 'app/styles/colors.scss';

.contact-form{

	.form, .success, .info{
		color: $white;
		text-align: center;
		margin: auto;

		h3{
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.submit-container{
			margin-top: 20px;
		}
	}
}
